# flyctl launch added from front2\.gitignore
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
FrontEnd\node_modules
FrontEnd\.pnp
FrontEnd\**\.pnp.js

# testing
FrontEnd\coverage

# production
FrontEnd\build

# misc
FrontEnd\**\.DS_Store
FrontEnd\**\.env.local
FrontEnd\**\.env.development.local
FrontEnd\**\.env.test.local
FrontEnd\**\.env.production.local

FrontEnd\**\npm-debug.log*
FrontEnd\**\yarn-debug.log*
FrontEnd\**\yarn-error.log*

# flyctl launch added from project_1\.gitignore
BackEnd\**\HELP.md
BackEnd\**\target
!BackEnd\**\.mvn\wrapper\maven-wrapper.jar
!BackEnd\**\**\src\main\**\target
!BackEnd\**\**\src\test\**\target

### STS ###
BackEnd\**\.apt_generated
BackEnd\**\.classpath
BackEnd\**\.factorypath
BackEnd\**\.project
BackEnd\**\.settings
BackEnd\**\.springBeans
BackEnd\**\.sts4-cache

### IntelliJ IDEA ###
BackEnd\**\.idea
BackEnd\**\*.iws
BackEnd\**\*.iml
BackEnd\**\*.ipr

### NetBeans ###
BackEnd\nbproject\private
BackEnd\nbbuild
BackEnd\dist
BackEnd\nbdist
BackEnd\.nb-gradle
BackEnd\**\build
!BackEnd\**\**\src\main\**\build
!BackEnd\**\**\src\test\**\build

### VS Code ###
project_1\**\.vscode
fly.toml
