@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KorailRoundGothicRegular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KorailRoundGothicBold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LeferiBaseType-RegularA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-RegularA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "LeferiBaseType-RegularA", "IBMPlexSansKR-Regular",
    "KorailRoundGothicRegular", "GmarketSansMedium", "Pretendard-Regular";
}

body {
  background-color: #dcd7c9;
  color: #2c3639;
  height: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: "IBMPlexSansKR-Regular";
}

/* 색상
#dcd7c9 베이지
#a27b5c  황
#2c3639  진청
#3f4e4f 
*/
/*상단바*/
.bg-light {
  background-color: #3f4e4f !important;
}
.one {
  font-family: IBMPlexSansKR-Regular;
}
html {
  height: 100%;
}

.navbar {
  --bs-navbar-brand-hover-color: white;
}
/*상단바 글씨*/
.navbar-brand {
  color: white;
}
/* 왼쪽 탭전환*/
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: white;
  background-color: #a27b5c;
  height: 100%;
}

.nav-pills .nav-link1.active,
.nav-pills .nav-link2.active,
.nav-pills .show > .nav-link2,
.nav-pills .show > .nav-link1 {
  color: #2c3639;
  background-color: #c3b99d;
  height: auto;
  border-radius: 30px;
}

.col2nav {
  background-color: #2c3639;
  padding: 0;
  color: #dcd7c9;
  width: 270px;
  height: 100--vh;
}

.flex-column {
  height: 100%;
}

.nav-pills > :hover {
  background-color: #dcd7c9;
  color: #2c3639;
}

.nav-pills {
  --bs-nav-pills-border-radius: var(--bs-nav-pills-border-radius);
}

.nav {
  --bs-nav-link-color: #dcd7c9;
  --bs-nav-link-hover-color: #2c3639;
}

.nav2,
.nav3 {
  --bs-nav-link-color: #2c3639;
  --bs-nav-link-hover-color: #f7f7f7ca;
}
.nav2,
.nav3 :hover {
  --bs-nav-link-color: #2c3639;
  --bs-nav-link-hover-color: #a27b5c;
}

.start1end1 {
  text-align: center;
}

/*1P*/

.p1cardcol {
  margin-bottom: 15px;
}

.alert1-1 {
  background: url(/public/img/bg2.jpg);
  background-size: cover;
  color: white;
  font-size: large;
  --bs-alert-padding-y: 4rem;
  --bs-alert-border-radius: 1rem;
  align-items: center;
}

/*2P*/

/*3P*/

.alert3-1 {
  background: url(/public/img/bg.jpg);
  background-size: cover;
  color: white;
  font-size: x-large;
  --bs-alert-padding-y: 4rem;
  --bs-alert-border-radius: 1rem;
  align-items: center;
}

/*4P*/

.card {
  --bs-card-border-width: 4px;
  --bs-card-border-radius: 0.63rem;
  --bs-card-cap-padding-y: var(--bs-card-border-width);
  --bs-card-spacer-y: 1rem;
  font-size: large;
}

/*carcondition*/
.mb-2 {
  text-align: center;
}

.mb-3 {
  display: contents;
  text-align: justify;
}
.carmain {
  display: contents;
  text-align: justify;
}

.cardlist {
  margin-left: 20px;
  width: 100%;
  text-align: justify;
}

.carrow1 {
  flex-direction: row;
  justify-content: space-around !important;
}

.tbcar1 {
  width: 85%;
  height: 70vh;
}
.tb1col {
  margin-left: 20px;
  margin-top: 20px;
}

.chart {
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 50px;
}

/* 색상
#dcd7c9 베이지
#a27b5c  황
#2c3639  진청
#3f4e4f 
*/

.btn {
  --bs-btn-padding-y: 0.8rem;
  --bs-btn-border-color: hwb(0 100% 0%);
}
.btn-dark {
  --bs-btn-bg: #3f4e4f;
  --bs-btn-hover-bg: #a27b5c;
  --bs-btn-hover-border-color: #white;
}

/*위험등급별로 clasename map함수에서 변수로 주고 style값으로 위험도 표시*/
.bt1 {
}
.bt2,
.bt3 {
  /* --bs-btn-bg: hwb(0 18% 9%); */
  --bs-btn-bg: hwb(0 24% 11%);
  --bs-btn-border-color: hwb(0 100% 0%);
}

.bt2-1,
.bt2-0 {
  width: 20%;
}
.bt2-2,
.bt2-3 {
  /* margin-right: 10%; */
  --bs-btn-bg: hwb(0 24% 11%);
  --bs-btn-border-color: hwb(0 100% 0%);
  width: 20%;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  color: white !important;
  background-color: #5e6a7d;
  border-color: #ffffff;
}

.tbg {
  color: var(--bs-btn-active-color);
  background-color: #5e6a7d;
  border-color: #ffffff;
}

.tbg-1 {
}

.progress {
  width: 84vw;
}
.servicemain1 {
  text-align: center;
}

.cardrows {
  flex-wrap: nowrap;
  justify-content: space-around;
}

.lmb-1 {
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
}

.container1 {
  padding: 15px;
}

/*찬준*/
.fade {
  margin: 10px;
}
/* 로고 벽에붙이기 */
.logo {
  position: absolute;
  left: 40px;
  top: 60px;
  transform: translatey(-50%);
}
.nav-link {
  padding: 30px;
  text-align: center;
  font-size: 22px;
}

.nav-link1 {
  padding-left: 30px;
  padding-right: 30px;
  padding: 15px;
  text-align: center;
  font-size: 22px;
}

.nav-link2 {
  padding: 15px;
  text-align: left;
  font-size: 22px;
}

/* 경관 */

.left-tabs-example {
  height: 100--vh;
}
.Navber {
  width: 100%;
  left: 0px;
  top: 0px;
}

.tab2-2 {
  padding: 10px;
  text-align: center;
}

#wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
}

section {
  margin-bottom: 10px;
}

.tab2-1 {
  font-size: x-large;
  /* text-align: center; */
}

/* 출력시 애니메이션효과 */
.start {
  /* scale: 0.7; */
  opacity: 0;
}
.end {
  /* scale: 1; */
  opacity: 1;
  transition: all 1s;
}
.start1 {
  /* scale: 0.7; */
  opacity: 0;
}
.end1 {
  /* scale: 1; */
  opacity: 1;
  transition: all 1s;
}

/* 1page 모든DB조회 메뉴바 */

.page1h1 {
  background: #edeeff;
}

.me-main {
  font-size: 30px;
}

.me-auto {
  font-size: 20px;
}

.container {
  flex-direction: column;
  justify-content: center;
}
/*테이블*/
table {
  font: 17px/10px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
  border-collapse: separate;
  text-align: center;
  border-spacing: 0;
  width: 60%;
  color: #666;
  margin-left: auto;
  margin-right: auto;
}

.mytable {
  font: 19px/19px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
  border-collapse: separate;
  text-align: center;
  border-spacing: 0;
  color: #666;
  margin-left: auto;
  margin-right: auto;
}

.thead1 {
  height: 50px;
}

.thead2 {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

th,
td {
  padding: 6px 15px;
  border-bottom: 1px solid #d1cccc;
  border-right: 1px solid #d1cccc;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
  padding: 0.5rem;
}
th {
  background: #42444e;
  color: #fff;
}

.table1 {
  border-bottom: 1px solid #d1cccc;
  border-right: 1px solid #d1cccc;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-top: 30px;
  border-bottom-right-radius: 0px;
}

.table > :not(caption) > * > * {
  padding: 0.75rem;
}
th {
  background: #42444e;
  color: #fff;
}

tr:first-child th:first-child {
  border-top-left-radius: 6px;
}
tr:first-child th:last-child {
  border-top-right-radius: 6px;
}
td {
  border-right: 1px solid #c6c9cc;
  border-bottom: 1px solid #c6c9cc;
}
td:first-child {
  border-left: 1px solid #c6c9cc;
}
tr:nth-child(even) td {
  background: #eaeaed;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

tr:last-child td {
  border-bottom: 0;
}
.th1 {
  font-size: medium;
}

.th1-1 {
  border-bottom: 1px solid hsl(0, 0%, 0%);
}

th:last-child,
td:last-child {
  border-right: 0;
}

tr:nth-child(odd) {
  background: #f3f3f3;
  color: #000000;
}

tr:nth-child(even) {
  background: #ffffff;
  color: #000000;
}

th.desc {
  border-bottom: 7px solid rgb(136, 136, 255);
}

th.asc {
  border-top: 7px solid orange;
}

.h22 {
  position: relative;
  display: inline;
  padding: 1em 0;
}

.h22:before,
.h22:after {
  content: "`";
  position: absolute;
  left: -1.2ex;
  top: 0.2em;
  width: 1em;
  height: 1em;
  font-size: 300%;
  -ms-transform: rotate(-40deg); /* IE 9 */
  -webkit-transform: rotate(-40deg); /* Chrome, Safari, Opera */
  transform: rotate(-40deg);
}

.h22:after {
  left: auto;
  right: -1.2ex;
  top: -0.1em;
  -ms-transform: rotate(140deg); /* IE 9 */
  -webkit-transform: rotate(140deg); /* Chrome, Safari, Opera */
  transform: rotate(140deg);
}

.mapimg1 {
  width: 100%;
  height: 10px;
  background-image: url("/public/img/polyline.png");
}
.mapimg2 {
  width: 50px;
  height: 50px;
  margin: auto;
  background-image: url("https://cdn-icons-png.flaticon.com/512/2556/2556974.png");
  background-size: cover;
  text-align: center;
}
.mapimg3 {
  margin: auto;
  width: 80px;
  height: 80px;
  background-image: url("/public/img/busmarker.png");
  background-size: cover;
  text-align: center;
}

hr {
  border: 0px;
  height: 2px;
  background: linear-gradient(
    to left,
    transparent,
    hwb(0 0% 100% / 0.788),
    transparent
  );
}

.navrow {
  margin-right: auto;
}
